header{
    background-color: #00ffff;
}
h1,h2{
    color: #8a2be2;
    text-transform: uppercase;
}
h1{
    text-align: center;
}
section{
    background-color: #f08080;
}
a{
    background-color: #90ee90;
    color: #800000;
}
img{
    display: none;
}